@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); 

*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: #101010;
    
}
.container{ 
    position: relative; 
    max-width: 430px; 
    width: 100%; 
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    
}
.container .forms{ 
    display: flex; 
    align-items: center;
    width: 200%;
    height: 440px;
    
    transition: height 0.2s ease;
}
.container.active .login{ 
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.9s ease, opacity 0.15s ease;
}
.container .signup{ 
    opacity: 0;
    transition: opacity 0.9s ease;
}
.container.active .signup{ 
    opacity: 1;
    transition: opacity 0.09s ease;
}
.container .form{ 
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}
.container.active .forms{ 
    height: 600px;
}
.container .form .title{ 
    position: relative; 
    font-size: 27px; 
    font-weight: 600; 

}
.form .input-field{ 
    margin-top: 30px;
    position: relative; 
    width: 100%; 
    height: 50px;
    margin-top: 30px;
    
   
}
.input-field input{ 
    position: absolute;
    height: 100%; 
    width: 100%;
    padding: 0 35px;
    border: none; 
    outline: none; 
    border-bottom: 2px solid #333;
}
.input-field input:is(:focus, :valid){ 
     
    border-bottom-color: #000;
}
.input-field i{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ i{ 
    color: #000;
}
.input-field i.icon{ 
    left: 0;
}
.input-field i.showHidePw{ 
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{ 
    display: flex; 
    align-items: center;
}
.checkbox-content input{  
    margin: 0 8px -2px 4px;
    accent-color: #000;
}
.form .text{ 
    color: #333; 
    font-size: 14px;
}
.form a{ 
    text-decoration: none;
}
.form a:hover{ 
    text-decoration: underline; 
}
.form a.text{
    color: #101010;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none; 
    background-color: #000; 
    color: #fff; 
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 17px; 
    font-weight: 500;
    transition: all 0.3s ease;
}
.button input:hover{ 
    background: #a7a7a7;
    color: #101010;
}
.form .login-signup{ 
    margin-top: 30px; 
    text-align: center;
}


.straight{ 
    margin: 0 auto;
    width: 3px; 
    height: 40px; 
    background: #a7a7a7; 
    animation: spin 1s infinite;
}
.loader{ 
    display: flex;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%; 
    z-index: 1;
    background: #181818; 
    top: 0;
    left: 0;
    
}




@keyframes spin{ 
    100%{ 
        transform: rotate(360deg);
    }
}
.disppear{
    animation: vanish 5s forwards;
}
@keyframes vanish{ 
   100%{ 
       opacity: 1.5;
       visibility: hidden;
   }
}